<!DOCTYPE HTML>
<html>
<head>
	<title>Question 11 - Exun 2016 Senior Quiz Finals</title>
	<link rel = "stylesheet" type = "text/css" href = "style.css">
</head>
<body>
	<div class = "question">
		<em>Invented</em> by two students in Vermont in 2005, this sport is now played by 20,000 players in 25 countries, some of which have lively university and college leagues. There is also a biannual _________ World Cup, most recently won by Australia in July. At the launch of the UK Premier league of the sport, the organisers said, <blockquote>'The _________ Premier League is such an exciting opportunity and development. It’s an opportunity for the sport to grow and gain prestige. It’s an opportunity for players to compete at the highest level. And, most importantly, it’s an opportunity for more people in more places to find out about this incredible sport.'</blockquote><br/>What sport?
	</div>

	<div class = "control-bar">
		<div class = "buttons">
			<button>Answer</button>
			<button>Grid</button>
		</div>

		<div class = "timer">
			10 seconds remaining
		</div>
	</div>

	<div class = "dummy-control-bar"></div>
</body>
</html>